/* Stylesheet for the 'AV RSS Theme' Plone theme */

body {
  margin-top: 30px;
}

a:visited {
  color: #7BAA0F;
}

#menu li.selected a {
  background: url(/++theme++av.rsstheme/images/img02.gif) repeat-x left bottom;
}

#portal-column-two dt {
  margin-bottom: 10px;
  background: url(/++theme++av.rsstheme/images/img03.gif) repeat-x left bottom;
  font-size: 16px;
}

#portal-column-two dt a {
  text-decoration: none;
  font-weight: bold;
}

.portletFooter {
  text-align: right;
}

#content {
  width: auto;
  float: none;
}

#content-core {
  padding: 0.5em;
}

#portal-globalnav a {
  text-transform:lowercase;
}

#footer {
  min-height: 1px;
}

/* Faceted navigation */

#center-and-left-area {
  margin-right: -15em;
}

#right-area {
  width: 15em;
}

#center-area {
  margin-left: -15em;
}

#left-area {
  width: 15em;
}

.right-area-js {
  margin-right: 15em;
}

.left-area-js {
  margin-left: 15em;
}

.faceted-widget ul {
  padding-left: 0px;
}

/* End faceted navigation */
