/* Stylesheet for the 'AV RSS Theme' Plone theme */

body {
  margin-top: 30px;
}

a:visited {
  color: #7BAA0F;
}

#menu li.selected a {
  background: url(/++theme++av.rsstheme/images/img02.gif) repeat-x left bottom;
}

#portal-column-two {
  left: 0;
  width: 195px;
  margin-left: 0;
}

#portal-column-two dt {
  margin-bottom: 10px;
  background: url(/++theme++av.rsstheme/images/img03.gif) repeat-x left bottom;
  font-size: 16px;
}

#portal-column-two dt a {
  text-decoration: none;
  font-weight: bold;
}

.portletFooter {
  text-align: right;
}

#content-core {
  padding: 0.5em;
}

#portal-globalnav a {
  text-transform:lowercase;
}

#footer {
  min-height: 1px;
}